.display-image {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  height: 100vh;
}

.card-info {
  width: 18vw;
}

.card-info > h3 {
  font-size: 2rem;
  font-weight: bold;

  margin-bottom: 2rem;

  color: var(--gray-blue);
}

.card-info > p {
  font-size: 1.2rem;
  font-weight: 300;

  text-align: justify;

  width: 100%;
  margin-bottom: 1rem;

  padding-right: 2rem;

  color: var(--gray-blue);
}

.content-image > img {
  width: 10rem;
}
